include LICENSE.MIT
include AUTHORS.txt
include MANIFEST.in
include README.rst
include tox.ini
include pkg/*.*
include setup.*
recursive-include src *.py *.css *.js *.html
recursive-include tests *.py *.yml *.txt *.json
