{% extends "bootstrap/base.html" -%}
{% import "bootstrap/wtf.html" as wtf -%}
{% block title %}NOF: {%
     block subtitle -%}
Network Objects Finder{%
     endblock subtitle -%}
{% endblock title -%}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock styles -%}

{% block navbar -%}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"/>
        <span class="icon-bar"/>
        <span class="icon-bar"/>
      </button>
      <a class="navbar-brand" href="/">NOF</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Index</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/config">Configs</a></li>
        <li><a href="/config/upload">Upload and parse configs</a></li>
      </ul>
    </div>
  </div>
</div>
{%- endblock navbar %}

{% block content -%}
<!-- TODO: Which to use? <div class="container-fluid"> -->
<div class="container">
<h1>
{%   block page_header %}{{ summary | default('Network Objects Finder') }}{% endblock page_header -%}
</h1>
{% with messages = get_flashed_messages() -%}
{%   if messages -%}
    {% for message in messages -%}
    <div class="alert alert-primary" role="alert">{{ message }}</div>
    {% endfor -%}
{%   endif -%}
{% endwith -%}
{%   block page_content %}{% endblock page_content -%}
</div>
{%- endblock content %}
{# vim:sw=2:ts=2:et:
-#}
