{% extends "base.html" -%}

{% block subtitle %}Firewall Policies: {{ filename | safe }}{% endblock -%}

{% block styles %}
{{ super() }}
<!-- jquery DataTables:
     - https://datatables.net/
     - https://datatables.net/download/index
-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
{% endblock styles -%}

{% block scripts %}
{{ super() }}
<!-- jquery DataTables: https://datatables.net/ -->
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
<!-- custom -->
<script type="text/javascript" src="{{ url_for('static', filename='js/fortios_firewall.js') }}"></script>
<script type="text/javascript">
/*
 * ref. https://datatables.net/manual/ajax
 * ref. https://datatables.net/reference/option/ajax.dataSrc
 */
$(document).ready(function() {
  $('#firewall-policies-table').dataTable ({
    "ajax": {
      "url": "{{ policies_url }}",
      "dataSrc": make_firewall_policy_maps(json)
    },
    "columns": [
      {% for key in policies_keys -%}
      {%     if loop.last -%}
      { "data": "{{ key }}" }
      {%     else -%}
      { "data": "{{ key }}" },
      {%     endif -%}
      {% endfor %}
    ]
  });
});
</script>
{% endblock %}

{% block page_content -%}
<div id="firewall-policies" class="row">
  <div class="col-sm-8 table-responsive">
<!--
.. seealso:: https://getbootstrap.com/docs/4.0/content/tables/
-->
    <!-- firewall.policy -->
    <table id="firewall-policies-table" class="table table-striped table-bordered">
      <thead>
        <tr>
        {% for key in policies_keys -%}
          <th scope="col">{{ key | title }}</th>
        {% endfor %}
        </tr>
      </thead>
    </table>
  </div>
  <div class="col-sm-4 container-fluid" id="firewall-details">
  </div>
</div>
{% endblock %}
{# vim:sw=2:ts=2:et:
-#}
