{% extends "fortios_base.html" -%}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
/*
 * ref. https://www.w3schools.com/jquery/jquery_filters.asp
 */
$(document).ready(function(){
  $("#search-form").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#fortigate-nodes-table tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}

{% block page_content -%}
<div id="fortigate-nodes" class="row">
  <div class="col-sm-8">
    <form>
      <div class="form-group">
        <!-- <label for="search-form">Search</label> -->
        <input type="text" id="search-form" placeholder="Search item..">
      </div>
    </form>
  </div>
  <div class="col-sm-8 table-responsive">
    <table id="fortigate-nodes-table" class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Hostname</th>
          <th scope="col">JSON-ed Config files</th>
          <th scope="col">Firewall Policies</th>
        </tr>
      </thead>
      {%  for hostname, label_urls, fw_url in hosts_with_filenames %}
      <tr>
        <td>{{ hostname }}</td>
        <td>{% for label, url in label_urls -%}
            <a href="{{ url }}">{{ label }}</a>{{ ',' if not loop.last }}
            {% endfor %}
        </td>
        <td><a href="{{ fw_url }}">Firewall Policies</a></td>
      </tr>
      {% endfor -%}
    </table>
  </div>
</div>
<div class="pb-5">{{ wtf.quick_form(form) }}</div>
{% endblock %}
{# vim:sw=2:ts=2:et:
-#}
