{% extends "base.html" -%}

{% block page_content -%}
{% if msg | d(false) %}<div class="alert alert-primary" role="alert">{{ msg }}</div>{% endif %}
<div>Networks</div>
<ul id="graph_files">
{%  for fname in filenames %}
<li>
  <!-- TODO:
  <a href="/graph/{{ fname }}">graph data (YAML file)</a>, 
  <a href="/node_link/{{ fname }}">Node link data (JSON file)</a>,
  -->
  <div>{{ fname }}:</div>
  <div><a href="/finder/networks/{{ fname }}">find networks by IP address</a></div>
  <div><a href="/finder/paths/{{ fname }}">find paths by src and dst IP addresses</a></div>
</li>
{%  else %}
<li>No data. Please upload a network YAML data from the above form.</li>
{%  endfor %}
</ul>
<div class="pb-5">{{ wtf.quick_form(form) }}</div>
{% endblock %}
{# vim:sw=2:ts=2:et:
-#}
