{% extends "networks_find_paths.html" -%}

{% block main_resutls -%}
    <div class="row m-5 p-5 node-paths-box" id="node-nets">
      {%- if nets -%}
      <ul>
      {%-   for ni in nets %}
        <li>ID: #{{ loop.index }}:
          <div class="row path-node node-{{ ni.type }}">
            <span class="text-primary">#{{ ni.id }}: {{ ni.name }}</span>
            <ul>{% for addr in ni.addrs -%}
              <li><span class="text-secondary">{{ addr }}</span>
              {% endfor -%}
            </ul>
          </div>
        </li>
      {%-   endfor %}
      </ul>
      {% else %}
      None
      {%- endif %}
    </div>
{% endblock %}
{# vim:sw=2:ts=2:et:
-#}
