{% extends "base.html" -%}
{% block subtitle %}Analyze data: {{ filename | safe }}{% endblock -%}

{% block scripts %}
{{ super() }}
<!-- d3js -->
<script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="https://d3js.org/d3-fetch.v1.min.js"></script>
<script type="text/javascript" src="https://d3js.org/d3-dispatch.v1.min.js"></script>
<script type="text/javascript" src="https://d3js.org/d3-quadtree.v1.min.js"></script>
<script type="text/javascript" src="https://d3js.org/d3-timer.v1.min.js"></script>
<script type="text/javascript" src="https://d3js.org/d3-force.v2.min.js"></script>
<!-- custom -->
<script type="text/javascript" src="{{ url_for('static', filename='js/network_graph.js') }}"></script>
<script type="text/javascript">
d3.json("{{ node_link_url }}").then(render_node_link);

/* seealso: src/nof/main/views.py */
var network_addresses = {{ nets | sum(attribute='addrs', start=[]) | tojson() }};
var node_type = {{ node_type | d("any") | tojson }};

{% if node_paths | d(false) -%}
var node_paths = {{ node_paths | tojson }};

{%   if node_type != "any" -%}
var node_path_0_addrs = {{ node_paths.0 | selectattr('type', 'equalto', node_type)
                                        | sum(attribute="addrs", start=[])
                                        | tojson() }};
{%   else -%}
var node_path_0_addrs = {{ node_paths.0 | sum(attribute="addrs", start=[]) | tojson() }};
{%   endif -%}
{% else -%}
var node_paths = [];
var node_path_0_addrs = [];
{% endif -%}
/* debug: console.log(node_path_0_addrs); */
</script>
{% endblock %}

{% block page_content -%}
<div id="node-graph" class="row">
  <div class="col-sm-8"><svg id="main-svg" class="img-fluid"/></div>
  <div class="col-sm-4 container-fluid">
    {% block main_form -%}
    <div class="row m-5 p-5 finder-form-box">{{ wtf.quick_form(form) }}</div>
    {% endblock %}
    <div class="row m-5 p-5 node-info-box" id="node-info">...</div>
    <div class="row m-5 p-5 node-details-box" id="node-details">Nodes in the paths found:</div>
    {% block main_resutls -%}
    <div class="row m-5 p-5 node-paths-box table-responsive" id="node-paths">
      {%- if node_paths -%}
      {%-   for nodes in node_paths %}
      Path: #{{ loop.index }}
      <table id="fortigate-nodes-table" class="table table-striped table-bordered table-sm">
        <!-- omit the table header:
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Addresses</th>
          </tr>
        </thead>
        -->
        {%-     for node in nodes %}
        <tr>
          <td class="row path-node node-{{ node.type }}">
            #{{ node.id }}:
            {% if node.type == "firewall" -%}
              <a href="{{ url_for('fortios_app.host_details', hostname=node.name) }}">{{ node.name }}</a>
            {% else -%}
            {{ node.name }}
            {% endif -%}
          <td><span class="text-secondary">{{ node.type }}</span></td>
          <td><span class="text-secondary">{{ node.addrs | join(", ") }}</span></td>
        </tr>
        {% endfor -%}
      </table>
      {% endfor %}
      {% endif -%}
    </div>
    {% endblock main_resutls -%}
  </div>
</div>
{% endblock %}
{# vim:sw=2:ts=2:et:
-#}
